/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 700px) {
  html {
    scroll-behavior: smooth;
  }

  .main-body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav {
    height: 60px;
    width: auto;
    background-color: #ffffff;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.5);
    position: relative;
  }

  .nav-logo {
    height: 40px;
    width: 133.12px;
    top: 0;
    right: 2;
    margin: none;
    padding: 10px 0px 10px 10px;
  }

  .nav-menu {
    float: right;
    display: block;
    height: 30px;
    width: 46px;
    padding: 15px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Hero Us */
  .hero-section {
    margin: none;
    width: auto;
    padding: 30px 20px 10px 20px;
  }

  .hero-text {
    height: 430px;
    width: auto;
    color: #747474;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.75px;
    line-height: 28px;
    text-align: justify;
  }

  /* About Us start */
  .aboutus .row > * {
    padding: 0;
    margin: 0;
    display: block;
  }
  .section1 {
    float: none;
    height: 80px;
    width: 100%;
    background-color: #d4d4d4;
  }

  .about-us-text {
    padding: 5px 0px 0px 0px;
    margin: auto;
    height: 68px;
    width: 100%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1.25px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }
  .section2 {
    height: 560px;
    width: 100%;
    background-image: url(../images/vision-1.jpg);
    background-repeat: no-repeat;
    background-color: #000000;
    opacity: 1;
  }
  .vision-text h2 {
    margin-left: 12px;
  }
  .vision-text {
    margin-top: 10px;
    padding: 20px 0px 20px 0px;
    height: 300px;
    width: 90%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    letter-spacing: 0.85px;
    line-height: 27px;
    font-weight: 300;
  }
  .vision-ul {
    display: block;
    overflow: auto;
    width: 90%;
    word-wrap: break-word;
    padding-right: 0px;
    margin: 0px 0px 0px 0px;
  }

  .section3 {
    float: none;
    height: 463px;
    width: 100%;
    background-image: url(../images/mission-2.jpg);
    background-size: cover;
    background-position: center;
    background-color: #000000;
    opacity: 1;
  }

  .mission-text {
    padding: 15px 10px 15px 15px;
    height: 246px;
    width: 90%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: 0.97px;
    line-height: 27px;
    font-weight: 300;
  }

  .section4 {
    visibility: hidden;
    clear: both;
    display: none;
    height: 0px;
    width: 100%;
    background-color: #fff;
    float: left;
  }

  .core-values-text {
    padding: 15px 10px 15px 10px;
    height: 273px;
    width: 80%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: 0.85px;
    line-height: 27px;
    font-weight: 300;
  }
  .section5 {
    visibility: hidden;
    clear: both;
    display: none;
    height: 0px;
    width: 100%;
    background-color: #fff;
    float: left;
  }

  .section6 {
    height: 428px;
    width: 100%;
    background-image: url(../images/core-value-2.jpg);
    background-size: cover;
    background-position: center;
    background-color: #000000;
    opacity: 1;
  }

  /* Digital Transformation */
  .digital-transformation {
    background-color: #c3c3c3;
    height: 240px;
    width: 100%;
    margin-top: 0px;
  }

  .digital-transformation-text {
    padding-top: 38px;
    height: auto;
    width: 95%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 30px;
    letter-spacing: 1.25px;
    line-height: 48px;
    text-align: center;
  }

  /* Focus Section */
  .focus .row > * {
    padding: 0;
    margin: 0;
    display: inline-block;
  }

  .focus-text {
    margin: auto;
    text-transform: uppercase;
    height: auto;
    width: 100%;
    color: #ffffff;
    background-image: url(./assets/images/what-does-dt-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Open Sans";
    font-size: 50px;
    letter-spacing: 1.25px;
    line-height: 68px;
  }

  .focus .row {
    background-image: url(../images/what-does-dt-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: max-content;
    margin: 0px;
  }

  .focus-details-section1 {
    float: none;
    height: auto;
    width: 100%;
  }

  .focus-content1 {
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 40px;
    text-transform: capitalize;
  }
  .focus-details-section2 {
    height: auto;
    width: 100%;
  }

  .focus-content2 {
    padding-top: 16px;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    letter-spacing: 0.7px;
    line-height: 40px;
  }

  /* Services */

  .services .row > * {
    margin: 0;
    display: inline-block;
  }

  .services-name-block {
    float: none;
    height: auto !important;
    width: 100%;
  }

  .services-name {
    padding: 16px 10px 16px 10px;
    height: 68px;
    width: 90%;
    color: #6e6e6e;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.25px;
    line-height: 68px;
    text-align: center;
  }

  .services-text-block {
    height: 640px;
    width: 100%;
    background-image: url(../images/services-2.jpg);
    display: flex;
  }
  .services-text1 {
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    height: auto;
    width: 80%;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 15px;
  }

  .services-text2 {
    padding: 0px 181px 255px 183px;
    height: 300px;
    width: 383px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: 0.75px;
    line-height: 50px;
  }

  /* Coverage */
  .coverage .row > * {
    display: inline-block;
  }

  .coverage-block1 {
    float: none;
    height: 200px;
    width: 100%;
  }

  .coverage-text {
    padding: 15px 10px 10px 15px;
    height: 68px;
    width: 90%;
    color: #6e6e6e;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.25px;
    line-height: 48px;
    text-align: center;
  }

  .coverage-block2 {
    height: 20px;
    width: 100%;
  }

  /* Industries */
  .industries-header {
    height: 200px;
  }
  .industries-text {
    padding: 15px 10px 10px 15px;
    height: 68px;
    width: 100%;
    color: #6e6e6e;
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1.25px;
    line-height: 68px;
    text-align: center;
  }

  .industries-section {
    height: 504px;
  }

  .industries-row {
    display: flex;
    
}

  .industries-col1 {
    margin: auto;
    width: 25%;
    float: left;
    box-sizing: border-box;
    height: 100px;
    border: 4px solid #2e8eff;
  }

  .industries-col2 {
    margin: auto;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border: 4px solid #2e8eff;
  }

  
}
